Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
my_string = "Hello, World!"

In [2]:
my_list = [1, 2, 3, 4, 5]

In [3]:
my_float = 3.14

In [4]:
my_tuple = (1, "apple", 3.14)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

(i) var1 = ' '

Data type: String
Explanation: var1 is assigned an empty string value, denoted by single quotes. Therefore, its data type is string.

(ii)var2 = '[ DS , ML , Python]'

Data type: String
Explanation: var2 is assigned a string value that represents a list of words enclosed in square brackets. However, since it is enclosed in quotes, it is treated as a string and not a list.

(iii) var3 = ['DS', 'ML', 'Python']

Data type: List
Explanation: var3 is assigned a list of strings. The values are enclosed in square brackets, and each value is separated by a comma. This is a valid representation of a list in Python.

(iv)var4 = 1

Data type: Integer
Explanation: var4 is assigned an integer value. The absence of quotes indicates that it is an integer rather than a string.

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / (Division Operator):

The / operator is used for division in Python

In [6]:
result = 10 / 3
print(result)  # Output: 3.3333333333333335

3.3333333333333335

(ii) % (Modulo Operator):

The % operator is used for modulus or remainder division.

In [7]:
result = 10 % 3
print(result)  # Output: 1

1

(iii) // (Floor Division Operator):

The // operator is used for floor division.
It performs division similar to the / operator but rounds down the result to the nearest whole number.

In [10]:
result = 10 // 3
print(result)  # Output: 3

3

(iv) "**" (Exponentiation Operator):

The ** operator is used for exponentiation or raising a number to a power.

In [11]:
result = 2 ** 3
print(result)  # Output: 8

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
my_list = [1, 'apple', 3.14, True, [1, 2, 3], 'banana', False, (4, 5), {'key': 'value'}, None]

for element in my_list:
    print("Element:", element)
    print("Data Type:", type(element))

Element: 1
Data Type: <class 'int'>
Element: apple
Data Type: <class 'str'>
Element: 3.14
Data Type: <class 'float'>
Element: True
Data Type: <class 'bool'>
Element: [1, 2, 3]
Data Type: <class 'list'>
Element: banana
Data Type: <class 'str'>
Element: False
Data Type: <class 'bool'>
Element: (4, 5)
Data Type: <class 'tuple'>
Element: {'key': 'value'}
Data Type: <class 'dict'>
Element: None
Data Type: <class 'NoneType'>

Q5 .Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [15]:
A = 24  
B = 3   

count = 0 

while A % B == 0:
    A = A // B  
    count += 1  

if count > 0:
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

8 is divisible by 3 and can be divided 1 times.

Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [18]:
my_list = [9, 12, 7, 18, 21, 14, 15, 30, 27, 33, 8, 11, 6, 13, 20, 25, 36, 40, 22, 16, 19, 24, 28, 10, 17]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

9 is divisible by 3.
12 is divisible by 3.
7 is not divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
30 is divisible by 3.
27 is divisible by 3.
33 is divisible by 3.
8 is not divisible by 3.
11 is not divisible by 3.
6 is divisible by 3.
13 is not divisible by 3.
20 is not divisible by 3.
25 is not divisible by 3.
36 is divisible by 3.
40 is not divisible by 3.
22 is not divisible by 3.
16 is not divisible by 3.
19 is not divisible by 3.
24 is divisible by 3.
28 is not divisible by 3.
10 is not divisible by 3.
17 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.